html{
    background-color: black;
    overflow: auto;
    font-family: Pretendard-Regular;

    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 0;
    }

    ::-webkit-scrollbar-track {
        background-color: #141517; 
    }

    ::-webkit-scrollbar-thumb {
        background-color: #1e1f20; 
        border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #1a1b1b;
    }
}

body{
    margin:0;
}

:root{
    --main-gray: #141517;
    --main-pink: #f82f62;
    --main-black: black;
    --dark-gray: #0e0e0e;
}